rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 'ads' 컬렉션에 대한 규칙
    match /ads/{adId} {
      // allow read: 누구나 문서를 읽을 수 있습니다.
      allow read: if true;
      // allow write: 인증된 사용자만 문서를 쓰기/수정/삭제할 수 있습니다.
      allow write: if request.auth != null;
    }
  }
}